@import "@fontsource/montserrat-alternates";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Montserrat Alternates", sans-serif;
  }
}

body {
  font-family: "Montserrat Alternates", sans-serif;
}

.fallback-icon {
  display: none;
}

.fallback-icon-visible .fallback-icon {
  display: flex;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(59, 130, 246, 0.5) transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(59, 130, 246, 0.5);
  border-radius: 3px;
}
